@using Bondora.Rental.Web.Models

@{ ViewBag.Title = Model.Spec.GetLocalizedString("Cart"); }

@model Cart

<h1>@Model.Spec.GetLocalizedString("Cart")</h1>
@if (Model.Count() == 0)
{
    @Html.Raw(Model.Spec.GetLocalizedString("empty cart"))
}
else
{
    @Html.Raw(Model.Spec.GetLocalizedString("full cart"))
    <p style="display: flex; justify-content: space-between;">
        <a href="/Cart/Confirm">@Model.Spec.GetLocalizedString("confirm cart")</a>
        <a href="" id="clearCartLink">@Model.Spec.GetLocalizedString("Clear cart")</a>
    </p>
    <table>
        <thead>
            <tr>
                <td>@Model.Spec.GetLocalizedString("Name")</td>
                <td>@Model.Spec.GetLocalizedString("Type")</td>
                <td>@Model.Spec.GetLocalizedString("Rental days")</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.RentalDays</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts 
{
    <script type="text/javascript">
        function clearCart(event) {
            event.preventDefault();
            document.cookie = "cart=" + encodeURI("[]") + ";path=/";
            location.reload(true);
        }
        var clearCartLink = document.getElementById('clearCartLink');
        if (clearCartLink) { clearCartLink.addEventListener('click', clearCart); }
    </script>
}